<div [ngClass]="{'dropdown--down': down, 'dropdown--up': !down, active: open}" class="dropdown dropdown--single" [attr.data-disabled]="!enabled" [style.width]="size">
	<ul class="dropdown__items">
		<li class="dropdown__item" *ngFor="let dropdownItem of data; let i = index" [ngClass]="{'dropdown__item--odd': i % 2 === 1, 'dropdown__item--even': i % 2 === 0, 'dropdown__item--selected': dropdownItem === data[selectedIndex]}" (click)="itemClicked(dropdownItem)">
			<span class="dropdown__item__text">{{ dropdownItem.value }}</span>
		</li>
	</ul>
	<div class="dropdown__selection-area" (click)="open = !open">
		<span class="dropdown__selected-value">{{ selectedIndex !== -1 && data[selectedIndex] ? data[selectedIndex].value : '' }}</span>
		<i class="dropdown__arrow fa"></i>
	</div>
</div>