<table>
	<thead>
		<tr>
			<th>Pend</th>
			<th class="sortable" [ngClass]="{sorted: tableSortingService.sortedColumn === 'name'}" (click)="tableSortingService.headerClicked('name')">Name<span class="sortIcon"><i class="fa" [ngClass]="{'fa-sort': tableSortingService.sortedColumn !== 'name', 'fa-sort-up': tableSortingService.sortedColumn === 'name' && tableSortingService.sortedAsc, 'fa-sort-down': tableSortingService.sortedColumn === 'name' && !tableSortingService.sortedAsc}"></i></span></th>
			<th class="sortable" [ngClass]="{sorted: tableSortingService.sortedColumn === 'time'}" (click)="tableSortingService.headerClicked('time')">Time<span class="sortIcon"><i class="fa" [ngClass]="{'fa-sort': tableSortingService.sortedColumn !== 'time', 'fa-sort-up': tableSortingService.sortedColumn === 'time' && tableSortingService.sortedAsc, 'fa-sort-down': tableSortingService.sortedColumn === 'time' && !tableSortingService.sortedAsc}"></i></span></th>
			<th class="sortable" [ngClass]="{sorted: tableSortingService.sortedColumn === 'series'}" (click)="tableSortingService.headerClicked('series')">Series<span class="sortIcon"><i class="fa" [ngClass]="{'fa-sort': tableSortingService.sortedColumn !== 'series', 'fa-sort-up': tableSortingService.sortedColumn === 'series' && tableSortingService.sortedAsc, 'fa-sort-down': tableSortingService.sortedColumn === 'series' && !tableSortingService.sortedAsc}"></i></span></th>
			<th class="sortable" [ngClass]="{sorted: tableSortingService.sortedColumn === 'modified'}" (click)="tableSortingService.headerClicked('modified')">Modified<span class="sortIcon"><i class="fa" [ngClass]="{'fa-sort': tableSortingService.sortedColumn !== 'modified', 'fa-sort-up': tableSortingService.sortedColumn === 'modified' && tableSortingService.sortedAsc, 'fa-sort-down': tableSortingService.sortedColumn === 'modified' && !tableSortingService.sortedAsc}"></i></span></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let video of videos; let i = index" [ngClass]="{odd: i % 2 === 1, even: i % 2 === 0, highlight: isVideoHighlighted(video), 'highlight-last': isVideoLeadHighlighted(video)}" (click)="onRowClick($event, video)">
			<td class='pending'>
				<app-checkbox [enabled]="isVideoLeadHighlighted(video) && video.pending" [(checked)]="video.pending" (checkedChange)="onPendingChange(video)"></app-checkbox>
			</td>
			<td>{{ getDisplayName(video) }}</td>
			<td>{{ getDisplayTime(video) }}</td>
			<td>{{ video.series }}</td>
			<td>{{ getLastModified(video) }}</td>
		</tr>
	</tbody>
</table>