@import '../../../styles/base/_constants.scss';

table {
	font-family: $droid-sans-mono;
	border-collapse: collapse;
	width: 100%;
	text-align: left;
	
	thead {
		font-weight: bold;
		font-size: 11px;
		color: $secondary-3;
		
		th {
			border: 1px solid $secondary-7;
		    padding: 4px;
		}
	}
	
	tbody {
		font-weight: normal;
		font-size: 10px;
		
		tr {
			height: 15px;
			
			td {
				border-left: 1px solid $secondary-7;
			    border-right: 1px solid $secondary-7;
				padding: 1px 4px;
				
				&.pending {
					text-align: center;
					
					& .pending__check {
						position: relative;
						vertical-align: middle;
						cursor: auto;
						pointer-events: none;
						margin: 0;
						padding: 0;
						
						&:not(:disabled) {
							cursor: pointer;
							pointer-events: auto;
						}
						
						&:not(:checked) {
							cursor: auto;
							pointer-events: none;
							display: none;
						}
					}
				}
			}
		}
	}
}


/* Color scheme */
/* Table striping colors */
tr.odd {
	background-color: $secondary-1;
}

tr.even {
	background-color: $secondary-2;
}


/* Table sorting colors */
thead tr th {
    background-color: $primary-2-alt1;
}

.headerSortDown, .headerSortUp {
    background-color: $primary-3-alt1;
}


/* Table sorting icons */
tr th {
	position: relative;
}

tr th.sortable {
	cursor: pointer;
	padding-right: 15px;
}

tr th span.sortIcon {
	position: absolute;
	right: 5px;
}

tr th span.sortIcon i {
	position: relative;
    vertical-align: middle;
}

/* Table highlighting colors */
tbody tr:hover {
	background-color: $secondary-8;
	color: $primary-1;
}

tbody tr.highlight {
	background-color: $primary-1;
	color: $secondary-3;
	
	&.highlight-last {
		border: 1px solid $secondary-5;
	}
	
	&:hover {
		background-color: $primary-1-alt2;
	}
}


