<table>
	<thead>
		<tr>
			<th>Pend</th>
			<th class="sortable">Name<span class="sortIcon"><i class="fa fa-sort"></i></span></th>
			<th class="sortable">Time<span class="sortIcon"><i class="fa fa-sort"></i></span></th>
			<th class="sortable">Series<span class="sortIcon"><i class="fa fa-sort"></i></span></th>
			<th class="sortable">Modified<span class="sortIcon"><i class="fa fa-sort"></i></span></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let video of videos; let i = index" [ngClass]="{odd: i % 2 === 1, even: i % 2 === 0, highlight: isVideoHighlighted(video), 'highlight-last': isVideoLeadHighlighted(video)}" (click)="onRowClick($event, video)">
			<td class='pending'>
				<app-checkbox [enabled]="isVideoLeadHighlighted(video) && video.pending" [(checked)]="video.pending" (checkedChange)="onPendingChange(video)"></app-checkbox>
			</td>
			<td>{{ getDisplayName(video) }}</td>
			<td>{{ getDisplayTime(video) }}</td>
			<td>{{ video.series }}</td>
			<td>{{ getLastModified(video) }}</td>
		</tr>
	</tbody>
</table>