<div class="filters type__title type__title--darker">
	<div id="filter-summary">
		<div class="filter-bg">
			<span id="label">Showing {{ filteredCount }} {{ filteredCount !== totalCount ? ('of ' + totalCount + ' ') : '' }}video{{ totalCount !== 1 ? 's' : '' }}</span>
			<span class="filter-btns">
				<span class="filter-custom-input">
					<app-toggle-switch [(on)]="enabled" (onChange)="onEnable()"></app-toggle-switch>
				</span>
				<app-button class="filter-btn" (click)="open = !open" [dark]="true" [iconClass]="open ? 'fa fa-angle-up' : 'fa fa-angle-down'"></app-button>
				<app-button class="filter-btn" (click)="onClear()" [dark]="true" [iconClass]="'fa fa-close'"></app-button>
			</span>
		</div>
	</div>
	<div id="filter-controls" [hidden]="!open">
		<table id="filter-controls-table">
			<tbody>
				<tr>
					<td class="table-filter">
						<app-pending-filter></app-pending-filter>
					</td>
					<td class="table-filter">
						<app-name-filter></app-name-filter>
					</td>
				</tr>
				<tr>
					<td class="table-filter">
						<app-time-filter></app-time-filter>
					</td>
					<td class="table-filter">
						<app-series-filter></app-series-filter>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>