<span class="filter-label">Name</span>
<div class="filter-bg">
	<span class="filter-custom-input">
		<app-textbox placeholder="Name" [(text)]="selectedName" (textChange)="onInput()" [enabled]="filtersEnabled && enabled" [size]="30"></app-textbox>
		<app-checkbox [(checked)]="caseInsensitive" [enabled]="filtersEnabled && enabled" name="caseInsensitive"></app-checkbox>
		<label for="caseInsensitive">C.I.</label>
	</span>
	<span class="filter-btns">
		<span class="filter-custom-input">
			<app-toggle-switch name="enable" [enabled]="filtersEnabled" [(on)]="enabled" (onChange)="onEnable()"></app-toggle-switch>
		</span>
		<app-button class="filter-btn" (click)="onClear()" [dark]="true" [enabled]="filtersEnabled" iconClass="fa fa-close"></app-button>
	</span>
</div>