<span class="filter-label">Time</span>
<div class="filter-bg">
	<span class="filter-custom-input">
		<app-time-input [(hours)]="hours" [(minutes)]="minutes" [(seconds)]="seconds" [(tol)]="tol" (hoursChange)="onInput()" (minutesChange)="onInput()" (secondsChange)="onInput()" (tolChange)="onInput()" [enabled]="filtersEnabled && enabled"></app-time-input>
	</span>
	<span class="filter-btns">
		<span class="filter-custom-input">
			<app-toggle-switch name="enable" [enabled]="filtersEnabled" [(on)]="enabled" (onChange)="onEnable()"></app-toggle-switch>
		</span>
		<app-button class="filter-btn" (click)="onClear()" [dark]="true" [enabled]="filtersEnabled" iconClass="fa fa-close"></app-button>
	</span>
</div>