$primary-1: #f77c83;
$primary-1-alt1: #fb8d7e;
$primary-1-alt2: #ea768c;

$primary-2: #e19fc5;
$primary-2-alt1: #e8a4c3;
$primary-2-alt2: #d999c9;

$primary-3: #a67cc5;
$primary-3-alt1: #b977c2;
$primary-3-alt2: #9a80c7;

$secondary-1: #262626;
$secondary-2: #323232;
$secondary-3: #2a2a2a;
$secondary-4: #454545;
$secondary-5: #dadada;
$secondary-6: #8b8b8b;
$secondary-7: #929999;
$secondary-8: #4a4a4a;

$source-sans-pro: 'Source Sans Pro', 'Helvetica', sans-serif;
$droid-sans-mono: 'Droid Sans Mono', monospace;

$tableWidth: 896px;
$detailWidth: 1024px;
$imageMaxHeight: 864px;