@import './_constants.scss';

html {
	height: 100%;
}

body {
	height: 100%;
	max-width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background: $secondary-1;
	color: $secondary-5;
}

body, input, button, select {
	-webkit-font-smoothing: antialiased;
}

.col {
	position: absolute;
	height: 100%;
	max-height: 100%;
	
	&.left {
		width: $tableWidth;
		display: flex;
		flex-direction: column
	}
	
	&.right {
		left: $tableWidth;
		width: $detailWidth;
	}
}

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
	/*color: $text-color;*/
	text-decoration: none;
	outline: none;
	border: 0;
}

a {
	cursor: pointer;
}

textarea {
	resize: vertical;
	width: 100%;
}