.type {
	&__title {
		font-family: $source-sans-pro;
		text-transform: uppercase;
		letter-spacing: .03em;
		font-weight: lighter;
		
		&--wide {
			letter-spacing: .05em;
		}
		
		&--no-upper {
			text-transform: none;
		}
		
		&--darker {
			font-weight: normal;
		}
	}
}